version: 2
defaults: &defaults
  docker:
    - image: ubuntu:18.04
jobs:
  build_linux:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: Id
          command: cat /etc/*release
      - run:
          name: Setup requirements
          command: |
            bash scripts/setup_common_requirements.sh
            apt-get install -y libpng-dev libfreetype6-dev libdbus-glib-1-dev libgtk2.0-dev curl
      - run:
          name: Build for Linux
          command: bash scripts/build_linux.sh
      - run:
          name: Get OSM data
          command: bash scripts/get_OSM_data.sh
          no_output_timeout: 120m
      - run:
          name: COnvert OSM data
          command: ./osmconvert --complete-ways --drop-author --verbose europe-latest-complete.osm.pbf -B=BFR.poly -o=europe-latest.osm.pbf
          no_output_timeout: 120m
      - run:
          name: Maptool Phase 1: reading input data
          command: linux/navit/maptool/maptool -P  -6 -s1 -e1 -i europe-latest.osm.pbf BFR.bin
          no_output_timeout: 120m
      - run:
          name: Maptool Phase 2: counting references and resolving ways
          command: linux/navit/maptool/maptool -P  -6 -s2 -e2 -i europe-latest.osm.pbf BFR.bin
          no_output_timeout: 120m
      - run:
          name: Maptool Phase 3: converting ways to pois
          command: linux/navit/maptool/maptool -P  -6 -s3 -e3 -i europe-latest.osm.pbf BFR.bin
          no_output_timeout: 120m
      - run:
          name: Maptool Phase 4: splitting at intersections
          command: linux/navit/maptool/maptool -P  -6 -s4 -e4 -i europe-latest.osm.pbf BFR.bin
          no_output_timeout: 120m
      - run:
          name: Maptool Phase 5: generating coastlines
          command: linux/navit/maptool/maptool -P  -6 -s5 -e5 -i europe-latest.osm.pbf BFR.bin
          no_output_timeout: 120m
      - run:
          name: Maptool Phase 6: assigning towns to countries
          command: linux/navit/maptool/maptool -P  -6 -s6 -e6 -i europe-latest.osm.pbf BFR.bin
          no_output_timeout: 120m
      - run:
          name: Maptool Phase 7: sorting countries
          command: linux/navit/maptool/maptool -P  -6 -s7 -e7 -i europe-latest.osm.pbf BFR.bin
          no_output_timeout: 120m
      - run:
          name: Maptool Phase 8: generating turn restrictions
          command: linux/navit/maptool/maptool -P  -6 -s8 -e8 -i europe-latest.osm.pbf BFR.bin
          no_output_timeout: 120m
      - run:
          name: Maptool Phase 9: processing associated street relations
          command: linux/navit/maptool/maptool -P  -6 -s9 -e9 -i europe-latest.osm.pbf BFR.bin
          no_output_timeout: 120m
      - run:
          name: Maptool Phase 10: processing house number interpolations
          command: linux/navit/maptool/maptool -P  -6 -s10 -e10 -i europe-latest.osm.pbf BFR.bin
          no_output_timeout: 120m
      - run:
          name: Maptool Phase 11: generating tiles      Phase 12: assembling map
          command: linux/navit/maptool/maptool -P  -6 -s11 -i europe-latest.osm.pbf BFR.bin
          no_output_timeout: 120m
workflows:
  version: 2
  build_all:
    jobs:
      - build_linux
