version: 2
jobs:
  build_linux:
    docker:
      - image: ubuntu:18.04
    steps:
      - checkout
      - run:
          name: Setup requirements
          command: |
            bash ci/setup_common_requirements.sh
            apt-get install -y libpng-dev libfreetype6-dev libdbus-glib-1-dev libgtk2.0-dev curl
      - run:
          name: Build for Linux
          command: bash ci/build.sh
workflows:
  version: 2
  build_all:
    jobs:
      - build_linux
