version: 2
defaults: &defaults
  docker:
    - image: ubuntu:19.04
jobs:
  build_linux:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: Id
          command: cat /etc/*release
      - run:
          name: Setup requirements
          command: |
            bash ci/setup_common_requirements.sh
            apt-get install -y libpng-dev libfreetype6-dev libdbus-glib-1-dev libgtk2.0-dev curl
      - run:
          name: Build for Linux
          command: bash ci/build_linux.sh
      - run:
          name: Get OSM data for Belgium
          command: wget -c -O belgium-latest.osm.pbf http://download.geofabrik.de/europe/europe-latest.osm.pbf
          no_output_timeout: 120m
      - run:
          name: Maptool Phase 1 reading input data
          command: bin/navit/maptool/maptool -P  -6 -n -s1 -e1 -i europe-latest.osm.pbf BFRL.bin
          no_output_timeout: 120m
      - run:
          name: Maptool Phase 2 counting references and resolving ways
          command: bin/navit/maptool/maptool -P  -6 -n -s2 -e2 -i europe-latest.osm.pbf BFRL.bin
          no_output_timeout: 120m
      - run:
          name: Maptool Phase 3 converting ways to pois
          command: bin/navit/maptool/maptool -P  -6 -n -s3 -e3 -i europe-latest.osm.pbf BFRL.bin
          no_output_timeout: 120m
      - run:
          name: Maptool Phase 4 splitting at intersections
          command: bin/navit/maptool/maptool -P  -6 -n -s4 -e4 -i europe-latest.osm.pbf BFRL.bin
          no_output_timeout: 120m
      - run:
          name: Maptool Phase 5 generating coastlines
          command: bin/navit/maptool/maptool -P  -6 -n -s5 -e5 -i europe-latest.osm.pbf BFRL.bin
          no_output_timeout: 120m
      - run:
          name: Maptool Phase 6 assigning towns to countries
          command: bin/navit/maptool/maptool -P  -6 -n -s6 -e6 -i europe-latest.osm.pbf BFRL.bin
          no_output_timeout: 120m
      - run:
          name: Maptool Phase 7 sorting countries
          command: bin/navit/maptool/maptool -P  -6 -n -s7 -e7 -i europe-latest.osm.pbf BFRL.bin
          no_output_timeout: 120m
      - run:
          name: Maptool Phase 8 generating turn restrictions
          command: bin/navit/maptool/maptool -P  -6 -n -s8 -e8 -i europe-latest.osm.pbf BFRL.bin
          no_output_timeout: 120m
      - run:
          name: Maptool Phase 9 processing associated street relations
          command: bin/navit/maptool/maptool -P  -6 -n -s9 -e9 -i europe-latest.osm.pbf BFRL.bin
          no_output_timeout: 120m
      - run:
          name: Maptool Phase 10 processing house number interpolations
          command: bin/navit/maptool/maptool -P  -6 -n -s10 -e10 -i europe-latest.osm.pbf BFRL.bin
          no_output_timeout: 120m
      - run:
          name: Maptool Phase 11 generating tiles      Phase 12 assembling map
          command: bin/navit/maptool/maptool -P  -6 -n -s11 -i europe-latest.osm.pbf BFRL.bin
          no_output_timeout: 120m
      - run:
          name: split binfile
          command: |
            mkdir out
            cd out
            split -b 2G ../BFRL.bin BFRL
            ls -la
            cd ..
            ls -la
      - store_artifacts:
          path: out
workflows:
  version: 2
  build_all:
    jobs:
      - build_linux
