version: 2
jobs:
  build_linux:
    docker:
      - image: ubuntu:19.04
    steps:
      - checkout
      - run:
          name: Setup requirements
          command: |
            bash ci/setup_common_requirements.sh
            apt-get install -y libpng-dev libfreetype6-dev libdbus-glib-1-dev libgtk2.0-dev curl
      - run:
          name: Build for Linux
          command: bash ci/build_linux.sh
  build_android:
    working_directory: ~/code
    docker:
      - image: circleci/android:api-29
    environment:
      JVM_OPTS: -Xmx3200m
    steps:
      - checkout
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "navit/android/build.gradle" }}
      - run:
          name: Id
          command: |
            cat /etc/*release
            dpkg --get-selections
      - run:
          name: Install cmake gettext libsaxonb-java librsvg2-bin mmv rename
          command: |
            sudo apt-get update
            sudo apt-get install cmake gettext libsaxonb-java librsvg2-bin mmv
            sudo apt-get install rename
            cmake ./ -Dsvg2png_scaling:STRING=-1,128 -Dsvg2png_scaling_nav:STRING=-1,128 -Dsvg2png_scaling_flag:STRING=-1,64 -DSAMPLE_MAP=n
      - run:
          name: Process icons
          command: |
            cd navit/xpm
            make
            sudo ls -la
            mkdir ../android/res/drawable-nodpi
            rename 'y/A-Z/a-z/' *
            mmv -m -d '*_128_128.png' '#1.png'
            mmv -m -d '*_64_64.png' '#1.png'
            sudo ls -la
            cp *.png ../android/res/drawable-nodpi
            cd ../../
      - run:
          name: Process translations
          command: |
            cd po  
            make
            sudo ls -la
            mkdir ../navit/android/res/raw
            rename 'y/A-Z/a-z/' *
            cp *.mo ../navit/android/res/raw
            cd ../
      - run:
          name: Move xml's
          command: |
            cd navit
            saxonb-xslt -s:navit_shipped.xml -xsl:xslt/android.xslt -o:navitldpi.xml OSD_SIZE=1 ICON_SMALL=24 ICON_MEDIUM=32 ICON_BIG=48
            saxonb-xslt -s:navit_shipped.xml -xsl:xslt/android.xslt -o:navitmdpi.xml OSD_SIZE=1.33 ICON_SMALL=32 ICON_MEDIUM=48 ICON_BIG=64
            saxonb-xslt -s:navit_shipped.xml -xsl:xslt/android.xslt -o:navithdpi.xml OSD_SIZE=2 ICON_SMALL=48 ICON_MEDIUM=64 ICON_BIG=96
            saxonb-xslt -s:navit_shipped.xml -xsl:xslt/android.xslt -o:navitxhdpi.xml OSD_SIZE=2.67 ICON_SMALL=64 ICON_MEDIUM=96 ICON_BIG=128
            saxonb-xslt -s:navit_shipped.xml -xsl:xslt/android.xslt -o:navitxxhdpi.xml OSD_SIZE=4 ICON_SMALL=96 ICON_MEDIUM=128 ICON_BIG=192
            saxonb-xslt -s:navit_shipped.xml -xsl:xslt/android.xslt -o:navitxxxhdpi.xml OSD_SIZE=5.33 ICON_SMALL=128 ICON_MEDIUM=192 ICON_BIG=256
            sudo ls -la
            mv *dpi.xml android/res/raw
            cd ../
      - run:
         name: Chmod permissions
         command: sudo chmod +x ./gradlew
      - run:
          name: Download Dependencies
          command: ./gradlew -v
#          command: ./gradlew androidDependencies
      - save_cache:
          name: Save cache
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "navit/android/build.gradle" }}
      - run:
         name: Install ndk
         command: |
           echo y | sdkmanager --licenses
           echo y | sdkmanager ndk-bundle
      - run:
          name: Build
          command: ./gradlew assembleDebug
      - run:
          name: Run Tests
          command: |
            ln -s navit/navit.dtd navit.dtd
            mkdir /home/circleci/code/test-results
            ./gradlew tasks --all
            ./gradlew lint test
            ./gradlew checkstyleMain
            ls -la /home/circleci/code/test-results
      - run:
          name: Run Javadoc
          command: ./gradlew generateDebugJavadoc
      - run:
          name: Inspect
          command: |
            ls -la navit/android/build
            ls -la navit/android/build/outputs
            ls -la navit/android/build/outputs/apk
            ls -la navit/android/build/outputs/logs
            ls -la navit/android/build/reports
      - store_artifacts:
          name: Store outputs
          path: navit/android/build/outputs/apk
          destination: outputs
      - store_artifacts:
          name: Store versioned apk
          path: navit/android/build/outputs/apk/debug/android-debug.apk
          destination: apk/$CIRCLE_BUILD_NUM.apk
      - store_artifacts:
          name: Store logs
          path: navit/android/build/outputs/logs
          destination: logs
      - store_artifacts:
          name: Store Javadoc
          path: navit/android/build/outputs/docs/javadoc
          destination: doc  
      - store_artifacts:
          name: Store Lint reports
          path: navit/android/build/reports
          destination: reports     
      - store_artifacts:
          name: Store translations
          path: po
          destination: translations
      - store_artifacts:
          name: Store checkstyle report
          path: /home/circleci/code/navit/android/checkstyle
          destination: reports
      - store_test_results:
          path: test-results
  build_win_32:
    docker:
      - image: ubuntu:19.04
    steps:
      - checkout
      - run:
          name: Build for Windows
          command: |
            bash ci/setup_common_requirements.sh
            bash ci/build_win_i686.sh
      - store_artifacts:
          path: win32/navit32install.exe
  build_win_64:
    docker:
      - image: ubuntu:19.04
    steps:
      - checkout
      - run:
          name: Build for Windows 64
          command: |
            bash ci/setup_common_requirements.sh
            bash ci/build_win64.sh
      - store_artifacts:
          path: win64/navit64install.exe
  build_win_64_glib_dll:
    docker:
      - image: ubuntu:19.04
    steps:
      - checkout
      - run:
          name: Build for Windows 64 with seperate Glib dll
          command: |
            bash ci/setup_common_requirements.sh
            bash ci/build_win64_glib_dll.sh
      - store_artifacts:
          path: win64/navit64install.exe
      - store_artifacts:    
          path: /usr/x86_64-w64-mingw32/bin/libintl-8.dll
      - store_artifacts:
          path: /usr/x86_64-w64-mingw32/bin/libglib-2.0-0.dll
      - store_artifacts:    
          path: /usr/x86_64-w64-mingw32/bin/libiconv-2.dll
      - store_artifacts:
          path: /usr/x86_64-w64-mingw32/lib/libwinpthread-1.dll
workflows:
  version: 2
  build_all:
    jobs:
      - build_linux
      - build_android
      - build_win_32
      - build_win_64
      - build_win_64_glib_dll
      
